*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    height: 900px;
}




.main{
    background-color: #edeff1;
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}




.wrap-main{
    height: 496px;
    width: 980px;
    /* background-color: pink; */
    display: flex;
}

.wrap-main-left{
    width: 55%;
    height: 55%;
    /* background-color: green; */
    
}

.wrap-main-left .title{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-top: 50px;
}

.wrap-main-left .title img{
    height: 106px;
    width: 301px;
    margin: -28px -28px;
}

.wrap-main-left .description {
    font-size: 30px;
    font-weight: 100;
    padding-top: 15px;
}




.wrap-main-right{
    width: 45%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    height: 350px;
    width: 90%;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}





.top-card .username{
    display: flex;
    justify-content: center;
}

.top-card .username input{
    padding: 15px;
    font-size: 17px;
    border-radius: 7px;
    border: 2px solid #edeff1;
    margin-top: 15px;
}

.top-card .password{
    display: flex;
    justify-content: center;
}

.top-card .password input{
    padding: 15px;
    font-size: 17px;
    border-radius: 7px;
    border: 2px solid #edeff1;
    margin-top: 15px;
}



.middle-card .login{
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-card .login button{
    width: 352px;
    height: 54px;    
    font-size: 14px;
    border-radius: 7px;
    background-color: #1877f2;
    border: 2px solid #edeff1;
    margin-top: 15px;
    color: #FFFFFF;
}

.middle-card a{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-decoration: none;
    color: #1877f2;
}

.middle-card a:hover{
    text-decoration: underline;
}

hr{
    margin-top: 20px;
}

.bottom-card .create-accout{
    display: flex;
    justify-content: center;
    align-items: center;

}

.bottom-card .create-accout button{
    height: 48px;
    width: 141px;
    font-size: 14px;
    border-radius: 7px;
    background-color: #42b72a;
    border: 2px solid #edeff1;
    margin-top: 20px;
    color: #FFFFFF;
}




.create-page p{
    padding-top: 20px;
    text-align: center;
    font-size: 17px;
}





.footer{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrap-footer{
    width: 100%;
    height: 137px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-top{
    width: 980px;
    display: flex;
    justify-content:space-between;
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: #8a8d91;
    font-size: 15px;
}

li a:hover{
    text-decoration: underline;
}



.footer-main{
    width: 980px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-main li{
    display: flex;
}
